In [118]:
import pandas as pd
import numpy as np
%matplotlib inline

In [60]:
!ls -l input

total 2451736
-rw-r--r--@ 1 alexandrelacheze  staff  1037267659 Jul  8 01:23 app_events.csv
-rw-r--r--@ 1 alexandrelacheze  staff    11190003 Jul  8 01:28 app_labels.csv
-rw-r--r--@ 1 alexandrelacheze  staff   195433779 Jul  8 01:22 events.csv
-rw-r--r--@ 1 alexandrelacheze  staff     2284333 Jul  8 01:28 gender_age_test.csv
-rw-r--r--@ 1 alexandrelacheze  staff     2366486 Jul 11 23:23 gender_age_train.csv
-rw-r--r--@ 1 alexandrelacheze  staff       16450 Jul  8 01:28 label_categories.csv
-rw-r--r--@ 1 alexandrelacheze  staff     6715635 Jul  8 01:28 phone_brand_device_model.csv

In [61]:
# limitation
NROWS = 10000

In [62]:
train = pd.read_csv("./input/gender_age_train.csv")
test =  pd.read_csv("./input/gender_age_test.csv")

In [63]:
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [64]:
phone_brand_device_model =  pd.read_csv("./input/phone_brand_device_model.csv")

In [65]:
phone_brand_device_model.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

In [66]:
train = pd.merge(train, phone_brand_device_model, how='left')
test = pd.merge(test, phone_brand_device_model, how='left')

In [67]:
train.head()

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38          小米         MI 2
1 -2897161552818060146      M   35  M32-38          小米         MI 2
2 -8260683887967679142      M   35  M32-38          小米         MI 2
3 -4938849341048082022      M   30  M29-31          小米       红米note
4   245133531816851882      M   30  M29-31          小米         MI 3

In [68]:
from sklearn import cross_validation
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [69]:
le = preprocessing.LabelEncoder()
le.fit(phone_brand_device_model['phone_brand'].tolist())
train['phone_brand_enc'] = le.transform(train['phone_brand'])
test['phone_brand_enc'] = le.transform(test['phone_brand'])

le = preprocessing.LabelEncoder()
le.fit(phone_brand_device_model['device_model'].tolist())
train['device_model_enc'] = le.transform(train['device_model'])
test['device_model_enc'] = le.transform(test['device_model'])

In [70]:
X = train[['phone_brand_enc', 'device_model_enc']]
y = train['group']

In [71]:
#clf = svm.LinearSVC()
clf = RandomForestClassifier()
scores = cross_validation.cross_val_score(clf, X, y, cv=5, scoring='log_loss')
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: -4.16 (+/- 0.31)

In [72]:
clf.fit(X, y)
results=pd.DataFrame(clf.predict_proba(test[['phone_brand_enc', 'device_model_enc']]), columns=clf.classes_)
results['device_id'] = test['device_id']

In [87]:
results.drop_duplicates('device_id', inplace=True)
results.to_csv('./output/submission.csv', index=False)

In [75]:
app_ev = pd.read_csv("./input/app_events.csv",
                     dtype={'device_id': np.str},
                     nrows=NROWS
                    )

In [76]:
app_ev.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [77]:
events = pd.read_csv("./input/events.csv",
                    dtype={'device_id': np.str},
                    nrows=NROWS
                    )

In [78]:
events

      event_id             device_id            timestamp  longitude  latitude
0            1     29182687948017175  2016-05-01 00:55:25     121.38     31.24
1            2  -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2            3  -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3            4  -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4            5  -5373797595892518570  2016-05-01 00:07:18     115.88     28.66
5            6   1476664663289716375  2016-05-01 00:27:21       0.00      0.00
6            7   5990807147117726237  2016-05-01 00:15:13     113.73     23.00
7            8   1782450055857303792  2016-05-01 00:15:35     113.94     34.70
8            9  -2073340001552902943  2016-05-01 00:15:33       0.00      0.00
9           10  -8195816569128397698  2016-05-01 00:41:31     119.34     26.04
10          11   8663743929678393765  2016-05-01 00:44:13     106.71     39.51
11          12   8663743929678393765  2016-05-01 00:45:30     106.71     39.51
12          13   8640114685470534007  2016-05-01 00:44:53     117.73     34.92
13          14  -5373797595892518570  2016-05-01 00:36:21     115.88     28.66
14          15   2504414082456157897  2016-05-01 00:40:45     120.62     31.31
15          16   9070651185984875886  2016-05-01 00:06:06       0.00      0.00
16          17   -460438353776005388  2016-05-01 00:06:33     118.44     24.71
17          18   2271670507584822423  2016-05-01 00:06:27     111.46     35.64
18          19   9161556264947841692  2016-05-01 00:17:37       0.00      0.00
19          20   6130108008013735751  2016-05-01 00:17:33     129.51     42.91
20          21   8546251726684589793  2016-05-01 00:41:54     120.66     31.31
21          22  -1663840927569383079  2016-05-01 00:43:15     116.45     33.93
22          23   1186608308763918427  2016-04-30 23:56:43     113.58     23.55
23          24  -6672877056143385791  2016-04-30 23:57:33      87.59     43.82
24          25  -4984460214693442980  2016-04-30 23:58:37     120.07     31.75
25          26   4830593356246717684  2016-05-01 00:45:41     121.57     38.93
26          27  -2668732172869127974  2016-05-01 00:46:35     132.03     47.25
27          28  -7745575547510100089  2016-05-01 00:27:20     117.27     34.82
28          29   7166563712658305181  2016-05-01 00:31:40     117.96     28.47
29          30  -6615032828577640034  2016-05-01 00:28:03       0.00      0.00
...        ...                   ...                  ...        ...       ...
9970      9971   7083593739607681943  2016-05-07 10:23:22     103.74     29.61
9971      9972  -8973384433241532190  2016-05-07 10:06:13       0.00      0.00
9972      9973   2732736632085716943  2016-05-07 10:05:14       0.00      0.00
9973      9974  -2832472016989096653  2016-05-07 10:04:50     119.66     26.84
9974      9975  -7060074273263634874  2016-05-07 10:35:37       0.00      0.00
9975      9976   7084295466153642647  2016-05-07 10:29:40     113.15     27.78
9976      9977  -1292368004755329150  2016-05-07 10:29:29     112.00     35.16
9977      9978   6941292752730328679  2016-05-07 10:30:10       0.00      0.00
9978      9979  -4823408148399581224  2016-05-07 10:02:44     106.50     29.50
9979      9980   2769357849458931840  2016-05-07 10:03:02       0.00      0.00
9980      9981  -5973717966165183441  2016-05-07 10:17:08     117.95     36.65
9981      9982   -736899993504126239  2016-05-07 10:16:53     119.42     32.39
9982      9983  -4819393356562423007  2016-05-07 10:34:26     118.41     31.33
9983      9984  -4824082811907913400  2016-05-07 10:32:41       0.00      0.00
9984      9985   7995932390106085411  2016-05-01 11:13:38     109.38     24.33
9985      9986   5579944977905517077  2016-05-01 11:14:01     118.63     37.43
9986      9987   3660313568282115371  2016-05-01 11:24:00       1.00      1.00
9987      9988  -8585336662178724972  2016-05-01 11:24:17     115.47     38.90
9988      9989  -8926211772892695918  2016-05-01 11:24:34     114.01     22.91
9989      9990   1420519617198517465  2016-05-01 11:25:05     121.14     38.82
9990      9991   3855499605847345029  2016-05-01 11:55:58     116.01     37.56
9991      9992  -4500583393429655624  2016-05-01 10:57:04     122.29     43.61
9992      9993  -2239091944106091628  2016-05-01 11:01:22     116.26     39.77
9993      9994  -2985807136782043554  2016-05-01 11:00:13     116.31     35.33
9994      9995   2752558895975085934  2016-05-01 11:06:35       0.00      0.00
9995      9996   1217783498468534623  2016-05-01 11:07:05     112.55     37.86
9996      9997   2670222685853487661  2016-05-01 11:23:45       0.00      0.00
9997      9998   -118846022751750199  2016-05-01 11:26:21       0.00      0.00
9998      9999   3741235090721051699  2016-05-01 11:24:42       0.00      0.00
9999     10000    832403193747734971  2016-05-01 11:42:15     111.74     36.18

[10000 rows x 5 columns]

## Handle geolocation now

In [128]:
from pygeocoder import Geocoder
from geopandas import GeoDataFrame
import geopandas as gpd
from shapely.geometry import Point

In [98]:
results = Geocoder.reverse_geocode(events.iloc[1]["latitude"], events.iloc[1]["longitude"])

In [102]:
results.data

[{u'address_components': [{u'long_name': u'543\u53f7-615\u53f7',
    u'short_name': u'543\u53f7-615\u53f7',
    u'types': [u'street_number']},
   {u'long_name': u'Tong Jin Lu',
    u'short_name': u'Tong Jin Lu',
    u'types': [u'route']},
   {u'long_name': u'Dujiangyan Shi',
    u'short_name': u'Dujiangyan Shi',
    u'types': [u'political', u'sublocality', u'sublocality_level_1']},
   {u'long_name': u'Chengdu Shi',
    u'short_name': u'Chengdu Shi',
    u'types': [u'locality', u'political']},
   {u'long_name': u'Sichuan Sheng',
    u'short_name': u'Sichuan Sheng',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'China',
    u'short_name': u'CN',
    u'types': [u'country', u'political']},
   {u'long_name': u'611830',
    u'short_name': u'611830',
    u'types': [u'postal_code']}],
  u'formatted_address': u'543\u53f7-615 Tong Jin Lu, Dujiangyan Shi, Chengdu Shi, Sichuan Sheng, China, 611830',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 30.9703897,
     u'lng': 103.6515111},
    u'southwest': {u'lat': 30.9687347, u'lng': 103.649004}},
   u'location': {u'lat': 30.9699006, u'lng': 103.6499234},
   u'location_type': u'RANGE_INTERPOLATED',
   u'viewport': {u'northeast': {u'lat': 30.9709111802915,
     u'lng': 103.6516065302915},
    u'southwest': {u'lat': 30.9682132197085, u'lng': 103.6489085697085}}},
  u'place_id': u'Ek_kuK3lm73lm5vlt53nnIHmiJDpg73luILpg73msZ_loLDluILpgJrplKbot681NDPlj7ctNjE15Y-3IOmCruaUv-e8lueggTogNjExODMw',
  u'types': [u'street_address']},
 {u'address_components': [{u'long_name': u'Dujiangyan',
    u'short_name': u'Dujiangyan',
    u'types': [u'political', u'sublocality', u'sublocality_level_1']},
   {u'long_name': u'Chengdu',
    u'short_name': u'Chengdu',
    u'types': [u'locality', u'political']},
   {u'long_name': u'Sichuan',
    u'short_name': u'Sichuan',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'China',
    u'short_name': u'CN',
    u'types': [u'country', u'political']}],
  u'formatted_address': u'Dujiangyan, Chengdu, Sichuan, China',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 31.3666152,
     u'lng': 103.7851638},
    u'southwest': {u'lat': 30.7487741, u'lng': 103.4313112}},
   u'location': {u'lat': 30.988435, u'lng': 103.646912},
   u'location_type': u'APPROXIMATE',
   u'viewport': {u'northeast': {u'lat': 31.3666152, u'lng': 103.7851638},
    u'southwest': {u'lat': 30.7487741, u'lng': 103.4313112}}},
  u'place_id': u'ChIJS60egocG8DYRTSRwTgc3kuM',
  u'types': [u'political', u'sublocality', u'sublocality_level_1']},
 {u'address_components': [{u'long_name': u'Chengdu',
    u'short_name': u'Chengdu',
    u'types': [u'locality', u'political']},
   {u'long_name': u'Sichuan',
    u'short_name': u'Sichuan',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'China',
    u'short_name': u'CN',
    u'types': [u'country', u'political']}],
  u'formatted_address': u'Chengdu, Sichuan, China',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 31.43533459999999,
     u'lng': 104.8927951},
    u'southwest': {u'lat': 30.0942975, u'lng': 102.9928859}},
   u'location': {u'lat': 30.572816, u'lng': 104.066801},
   u'location_type': u'APPROXIMATE',
   u'viewport': {u'northeast': {u'lat': 30.8581695, u'lng': 104.3261719},
    u'southwest': {u'lat': 30.4588876, u'lng': 103.8249207}}},
  u'place_id': u'ChIJIXdEACPF7zYRAg4kLs5Shrk',
  u'types': [u'locality', u'political']},
 {u'address_components': [{u'long_name': u'611830',
    u'short_name': u'611830',
    u'types': [u'postal_code']},
   {u'long_name': u'Dujiangyan',
    u'short_name': u'Dujiangyan',
    u'types': [u'political', u'sublocality', u'sublocality_level_1']},
   {u'long_name': u'Chengdu',
    u'short_name': u'Chengdu',
    u'types': [u'locality', u'political']},
   {u'long_name': u'Sichuan',
    u'short_name': u'Sichuan',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'China',
    u'short_name': u'CN',
    u'types': [u'country', u'political']}],
  u'formatted_address': u'Dujiangyan, Chengdu, Sichuan, China, 611830',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 31.05661679999999,
     u'lng': 103.7332609},
    u'southwest': {u'lat': 30.9026916, u'lng': 103.6015464}},
   u'location': {u'lat': 30.9982534, u'lng': 103.6193408},
   u'location_type': u'APPROXIMATE',
   u'viewport': {u'northeast': {u'lat': 31.05661679999999, u'lng': 103.699958},
    u'southwest': {u'lat': 30.9026916, u'lng': 103.6015464}}},
  u'place_id': u'ChIJp7nA8LMG8DYRgLFyJiStgfk',
  u'types': [u'postal_code']},
 {u'address_components': [{u'long_name': u'Sichuan',
    u'short_name': u'Sichuan',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'China',
    u'short_name': u'CN',
    u'types': [u'country', u'political']}],
  u'formatted_address': u'Sichuan, China',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 34.3129999,
     u'lng': 108.5467122},
    u'southwest': {u'lat': 26.0458655, u'lng': 97.34808149999999}},
   u'location': {u'lat': 30.651226, u'lng': 104.075881},
   u'location_type': u'APPROXIMATE',
   u'viewport': {u'northeast': {u'lat': 34.3129999, u'lng': 108.5467122},
    u'southwest': {u'lat': 26.0458655, u'lng': 97.34808149999999}}},
  u'place_id': u'ChIJs829aDPn5DYRuf6Zj898j94',
  u'types': [u'administrative_area_level_1', u'political']},
 {u'address_components': [{u'long_name': u'China',
    u'short_name': u'CN',
    u'types': [u'country', u'political']}],
  u'formatted_address': u'China',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 53.5587015,
     u'lng': 134.7728098},
    u'southwest': {u'lat': 18.1576156, u'lng': 73.4994136}},
   u'location': {u'lat': 35.86166, u'lng': 104.195397},
   u'location_type': u'APPROXIMATE',
   u'viewport': {u'northeast': {u'lat': 53.558106, u'lng': 134.7728098},
    u'southwest': {u'lat': 18.1576156, u'lng': 73.4994136}}},
  u'place_id': u'ChIJwULG5WSOUDERbzafNHyqHZU',
  u'types': [u'country', u'political']}]

In [104]:
results.locality

u'Chengdu Shi'

In [115]:
events['lat_cleaned'] = events['latitude'].replace((0.00, 1.00), pd.np.NaN)
events['lon_cleaned'] = events['longitude'].replace((0.00, 1.00), pd.np.NaN)
events['geometry'] = events.apply(lambda row: Point((row['lat_cleaned'], row['lon_cleaned'])), axis=1)
gevents =  GeoDataFrame(events)

In [129]:
cities = gpd.read_file(gpd.datasets.get_path('naturalearth_cities'))

In [131]:
cities.head()

                                      geometry          name
0  POINT (12.45338654497177 41.90328217996012)  Vatican City
1    POINT (12.44177015780014 43.936095834768)    San Marino
2  POINT (9.516669472907267 47.13372377429357)         Vaduz
3  POINT (6.130002806227083 49.61166037912108)    Luxembourg
4  POINT (158.1499743237623 6.916643696007725)       Palikir